

.container {
  display: grid;
  grid-template-columns: 10% auto auto auto 10%;
  grid-template-rows: 50px 20px auto;
}

.coffee-background {
  background-color: #889790;
}

.tea-background {
  background-color: #768969;
}

.mode-switch {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: end;
  padding: 10px;
}

.header-container {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.place-order-container {
  text-align: center;
  width: 200px;
}

.place-order-container, .pending-orders-container {  
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.active-order-container, .in-progress-orders-container {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.my-orders-container, .done-orders-container {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;

}
